# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore virtual environments
env/
venv/
ENV/
.VENV/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs or outputs
*.log

# Ignore dataset backups
*.csv~

# Ignore configuration files
*.cfg

# Ignore temporary files
*.tmp

# Ignore Python egg files
*.egg

# Ignore distribution files  
*.egg-info/

# Ignore Jupyter Notebook metadata
*.ipynb_checkpoints